body {
  background-color: #769fdc;
  color: #333333;
  font-family: 'Reddit Mono', monospace;
  margin: auto 0;
  padding: 60px 0 0 0;
  border: 2px solid #000000; /* Black border */
  
}

section {
  margin: 20px 0;
  padding: 10px;
  border: 2px solid #FF0000; /* Red border */
}

.section-content {
  text-align: center;
  border: 2px solid #00FF00; /* Green border */
}

h1, h2, h3 {
  font-weight: 700;
  color: #1a202c;
  border: 2px solid #0000FF; /* Blue border */
}

h4 {
  border: 2px solid #146394;
  margin:0;
}
h1 {
  font-size: 2.5rem;
  text-transform: uppercase;
  color: #4a5568;
}

p{ 
  border: 2px solid #49dc2c; /* light green */
  margin:0;
}
nav ul {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-around;
  list-style-type: none;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 1000;
  padding:15px 0;
  margin:0 auto;

}

a {
  text-decoration: none;
}

ul {
  border: 2px solid #FFFF00; /* Yellow border */
}

/* Experience Section */
#experience-item {
  display: block;
  border-radius: 8px;
  margin-bottom: 10px;
  border: 2px solid #FF00FF; /* Magenta border */
}
.experience {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px; 
  margin:0;
}

.job {
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
  padding-top:20px;
}

.job-title {
  display: flex;
  align-items: start;
  justify-content: start;
  flex: 1;
  max-width:50%;
  width:50%;
}

.job-dates {
  display: flex;
  align-items: start;
  justify-content: end;
  flex: 1; 
  max-width:50%;
  width:50%;
}

.job-description {
  display:flex;
  align-items: end;
  margin-right:20px;
  width:100%;
  max-width:100%;
}




/* Connect Section */

  /* color: #2b6cb0; */
/* .social-icons{
  display:flex;
  list-style-type: none !important;
}

.social-icons li{
  width:100%;
}

.connect-link {
  color:#000000;
  text-decoration: none;
  list-style-type: none !important;
}

.connect-link:hover {
  transform: scale(1.05);
} */
.connect {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-icons {
  display: flex;
  gap: 20px; /* Adjust the space between each icon */
  margin-top: 20px;
}

.social-media {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px; /* Adjust the size of the icons */
  height: 40px;
  border-radius: 50%;
  background-color: #130909; /* Adjust the background color */
}
.fa-envelope:before, .fa-github:before, .fa-linkedin:before {
  color: white;
}
img[alt] {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  border: 2px solid #800080; /* Purple border */
}